.comicsans, .sbahj, .herbert { font-family: Comic Sans, Comic Sans MS, cursive; }
.herbertpink, .herbertroxy { font-family: Comic Sans, Comic Sans MS, cursive;
  color: #ff6ff2; }
.pesterlog { color: #000000; }
.aradia, .damara { color: #a10000; }
.bro, .dirk, .davesprite { color: #f2a400; }
.caliborn, .undyingumbrage { color: #323232; }
.calibornwins { color: #2ed73a; }
.calliope, .uranianumbra { color: #929292; }
.dave, .AR, .arquius, .arquiusprite { color: #e00707; }
.equius, .horuss { color: #000056; }
.eridan, .cronus { color: #6a006a; }
.exile { color: #ffffff;
  background-color: #000000; }
.feferi, .meenah, .hic { color: #77003c; }
.gamzee, .kurloz { color: #2b0057; }
.jade, .erisol, .erisolsprite { color: #4ac925; }
.jake, .jadesprite { color: #1f9400; }
.jane, .nanna, .nannasprite { color: #00d5f2; }
.john, .tavris, .tavrisprite { color: #0715cd; }
.kanaya, .porrim { color: #008141; }
.kankri, .altkarkat { color: #ff0000; }
.karkat { color: #626262; }
.nepeta, .meulin { color: #416600; }
.rose, .fefeta, .fefetasprite { color: #b536da; }
.roxy, .jaspers, .jaspersprite, .mom { color: #ff6ff2; }
.scratch, .scratch-white { color: #ffffff;
  background-color: #ffffff; }
.scratch-green { color: #ffffff;
  background-color: #1f9400; }
.sollux, .mituna { color: #a1a100; }
.tavros, .rufioh { color: #a15000; }
.terezi, .latula { color: #008282; }
.vriska, .aranea, .mindfang { color: #005682; }