---
layout: default
---

<!-- <div class="toc-site-description">
  <p>{{ site.description }}</p>
</div> -->

<div class="table-of-contents">

  <table>
    <thead><tr>
      <th>Episode</th>
      <th>Title</th>
      <th>Status</th>
      <th>Date</th>
    </tr></thead>
    <tbody>
    {% for post in site.posts reversed %}
    
      <tr>
        <td class='ep-number'><a href="{{ post.url | prepend: site.baseurl }}">{{ post.episode_number | escape }}</a></td>
        <td class='ep-title'><a href="{{ post.url | prepend: site.baseurl }}">{{ post.episode_title | escape }}</a></td>
        <td class='ep-status'>{% if post.unfinished %}
          <a href="{{ post.url | prepend: site.baseurl }}">UNFINISHED</a>
        {% endif %}</td>
        <td class='ep-date'><a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%Y-%m-%d" }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</div>
