---
layout: default
title: Transcript Sources
sources:
- name: Anonymous
  episodes:
  - filename: 2017-01-18-048.html
    title: 'MAG048 - #0100325 - Lost in the Crowd'
    url: https://docs.google.com/document/d/1073PT_ZCfFxWcDG-Jj-osZqZneYjFX3tSmiZ4ePHZ_0/edit
- name: snarp
  url: https://snarp.tumblr.com/
  episodes:
  - filename: 2016-12-14-043.html
    title: 'MAG043 - #0160919 - Section 31'
    url: https://snarp.tumblr.com/
  - filename: 2016-12-21-044.html
    title: 'MAG044 - #9790302 - Tightrope'
    url: https://snarp.tumblr.com/
  - filename: 2016-12-28-045.html
    title: 'MAG045 - #0110209 - Blood Bag'
    url: https://snarp.tumblr.com/
  - filename: 2017-01-11-047.html
    title: 'MAG047 - #0161002 - The New Door'
    url: https://snarp.tumblr.com/
  - filename: 2017-01-25-049.html
    title: 'MAG049 - #0081103 - The Butcher''s Window'
    url: https://snarp.tumblr.com/
  - filename: 2017-02-01-050.html
    title: 'MAG050 - #8141206 - Foundations'
    url: https://snarp.tumblr.com/
  - filename: 2017-03-08-055.html
    title: 'MAG055 - #0160311 - Pest Control'
    url: https://snarp.tumblr.com/
  - filename: 2017-04-05-059.html
    title: 'MAG059 - #0052911 - Recluse'
    url: https://snarp.tumblr.com/
  - filename: 2017-04-12-060.html
    title: 'MAG060 - #9721207 - The Observer Effect'
    url: https://snarp.tumblr.com/
  - filename: 2017-04-26-062.html
    title: 'MAG062 - #0080307 - First Edition'
    url: https://snarp.tumblr.com/
  - filename: 2017-05-17-065.html
    title: 'MAG065 - #0170701 - Binary'
    url: https://snarp.tumblr.com/
  - filename: 2017-05-31-067.html
    title: 'MAG067 - #0071803 - Burning Desire'
    url: https://snarp.tumblr.com/
  - filename: 2018-06-20-106.html
    title: 'MAG106 - #0081002 - A Matter Of Perspective'
    url: https://snarp.tumblr.com/
  - filename: 2018-06-27-107.html
    title: 'MAG107 - #0100102 - Third Degree'
    url: https://snarp.tumblr.com/
  - filename: 2018-07-04-108.html
    title: 'MAG108 - #0092008 - Monologue'
    url: https://snarp.tumblr.com/
  - filename: 2018-07-11-109.html
    title: 'MAG109 - #0172906 - Nightfall'
    url: https://snarp.tumblr.com/
  - filename: 2018-07-11-110.html
    title: 'MAG110 - #0121403 - Creature Feature'
    url: https://snarp.tumblr.com/
  - filename: 2018-08-29-116.html
    title: 'MAG116 - #7870211 - The Show Must Go On'
    url: https://snarp.tumblr.com/
  - filename: 2018-09-05-117.html
    title: 'MAG117 - #0170208-A to F - Testament'
    url: https://snarp.tumblr.com/
  - filename: 2018-09-26-120.html
    title: 'MAG120 - #0170908 - Eye Contact'
    url: https://snarp.tumblr.com/
  - filename: 2019-01-09-121.html
    title: 'MAG121 - #0181502 - Far Away'
    url: https://snarp.tumblr.com/
  - filename: 2019-05-02-137.html
    title: 'MAG137 - #9550307 - Nemesis'
    url: https://snarp.tumblr.com/
- name: tmatranscripts.tumblr.com
  url: https://tmatranscripts.tumblr.com/
  episodes:
  - filename: 2018-09-12-118.html
    title: 'MAG118 - #0170608-A/B - The Masquerade'
    url: https://tmatranscripts.tumblr.com/post/182633017311/mag118themasquerade-1pdf
  - filename: 2019-01-16-122.html
    title: 'MAG122 - #0150102 - Zombie'
    url: https://tmatranscripts.tumblr.com/post/183016022226/mag122zombie-1pdf
  - filename: 2019-01-23-123.html
    title: 'MAG123 - #0150108 - Web Development'
    url: https://tmatranscripts.tumblr.com/post/182772566591/mag123webdevelopmentpdf
  - filename: 2019-01-30-124.html
    title: 'MAG124 - #0121112 - Left Hanging'
    url: https://tmatranscripts.tumblr.com/post/182647387531/mag124lefthangingpdf
  - filename: 2019-02-06-125.html
    title: 'MAG125 - #9931907 - Civilian Casualties'
    url: https://tmatranscripts.tumblr.com/post/182621892246/mag125civiliancasualtiespdf
  - filename: 2019-02-14-126.html
    title: 'MAG126 - #0091110 - Sculptor''s Tool'
    url: https://tmatranscripts.tumblr.com/post/182827165946/mag126sculptorstoolpdf
  - filename: 2019-02-21-127.html
    title: 'MAG127 - #8312111 - Remains to be Seen'
    url: https://tmatranscripts.tumblr.com/post/182968643421/mag127remainstobeseenpdf
  - filename: 2019-02-28-128.html
    title: 'MAG128 - #0180303 - Heavy Goods'
    url: https://tmatranscripts.tumblr.com/post/183121988991/mag128heavygoodspdf
  - filename: 2019-03-07-129.html
    title: 'MAG129 - #0130409 - Submerged'
    url: https://tmatranscripts.tumblr.com/post/183436679721/mag129submergedpdf
  - filename: 2019-03-14-130.html
    title: 'MAG130 - #0081912 - Meat'
    url: https://tmatranscripts.tumblr.com/post/183555648266/mag130meatpdf
  - filename: 2019-03-28-132.html
    title: 'MAG132 - #0182403 - Entombed'
    url: https://tmatranscripts.tumblr.com/post/183773620106/mag132entombedpdf
  - filename: 2019-04-04-133.html
    title: 'MAG133 - #9302706 - Dead Horse'
    url: https://tmatranscripts.tumblr.com/post/183964692121/mag133deadhorsepdf
  - filename: 2019-04-11-134.html
    title: 'MAG134 - #0060122 - Time of Revelation'
    url: https://tmatranscripts.tumblr.com/post/184109642408/mag134timeofrevelationpdf
  - filename: 2019-04-18-135.html
    title: 'MAG135 - #0141407 - Dark Matter'
    url: https://tmatranscripts.tumblr.com/post/184273160871/mag-135-dark-matter-case-0141407
  - filename: 2019-04-25-136.html
    title: 'MAG136 - #0120112 - The Puppeteer'
    url: https://tmatranscripts.tumblr.com/post/184630562096/mag136-the-puppeteer-case-0120112pdf
  - filename: 2019-05-09-138.html
    title: 'MAG138 - #8671302 - The Architecture of Fear'
    url: https://tmatranscripts.tumblr.com/post/184761985481/mag138-the-architecture-of-fear-case-8671302pdf
  - filename: 2019-05-16-139.html
    title: 'MAG139 - #0063011 - Chosen'
    url: https://tmatranscripts.tumblr.com/post/184922928921/mag139-chosen-case-0063011pdf
  - filename: 2019-05-23-140.html
    title: 'MAG140 - #7150101 - The Movement of the Heavens'
    url: https://tmatranscripts.tumblr.com/post/185087051726/mag140-the-movement-of-the-heavens-case
  - filename: 2019-06-27-142.html
    title: 'MAG142 - #0181206 - Scrutiny'
    url: https://tmatranscripts.tumblr.com/post/185891205991/mag142-scrutiny-case-0181206pdf
  - filename: 2019-07-04-143.html
    title: 'MAG143 - #0181606 - Heart of Darkness'
    url: https://tmatranscripts.tumblr.com/post/186049755301/mag143-heart-of-darkness-case-0181606pdf
- name: YouTube Closed Captions (Auto-Generated)
  episodes:
  - filename: 2017-01-04-046.html
    title: 'MAG046 - #0110209 - Literary Heights'
    url: https://www.youtube.com/watch?v=8tEAvVBQee8
  - filename: 2017-02-08-051.html
    title: 'MAG051 - #0080701 - High Pressure'
    url: https://www.youtube.com/watch?v=BNIHaezwy-c
  - filename: 2017-02-15-052.html
    title: 'MAG052 - #0040904 - Exceptional Risk'
    url: https://www.youtube.com/watch?v=u-outt8lowg
  - filename: 2017-02-22-053.html
    title: 'MAG053 - #9970509 - Crusader'
    url: https://www.youtube.com/watch?v=bzZphRkToEs
  - filename: 2017-03-01-054.html
    title: 'MAG054 - #0132306 - Still Life'
    url: https://www.youtube.com/watch?v=1EHJ0UPaw9I
  - filename: 2017-03-15-056.html
    title: 'MAG056 - #0100710-B - Children Of The Night'
    url: https://www.youtube.com/watch?v=4sSoy43fQak
  - filename: 2017-03-22-057.html
    title: 'MAG057 - #0090404 - Personal Space'
    url: https://www.youtube.com/watch?v=2iPFjWmt1V8
  - filename: 2017-03-29-058.html
    title: 'MAG058 - #8450512 - Trail Rations'
    url: https://www.youtube.com/watch?v=d3rWiOsZeaI
  - filename: 2017-04-19-061.html
    title: 'MAG061 - #0160112 - Hard Shoulder'
    url: https://www.youtube.com/watch?v=FYA_7TV_65w
  - filename: 2017-05-03-063.html
    title: 'MAG063 - #0143103 - The End Of The Tunnel'
    url: https://www.youtube.com/watch?v=IxjEvWhc3sY
  - filename: 2017-05-10-064.html
    title: 'MAG064 - #0152005 - Burial Rites'
    url: https://www.youtube.com/watch?v=bt81yVfaRmA
  - filename: 2017-05-24-066.html
    title: 'MAG066 - #0002202 - Held In Customs'
    url: https://www.youtube.com/watch?v=A84DqGwgPJM
  - filename: 2018-09-19-119.html
    title: 'MAG119 - #0170708 - Stranger And Stranger'
    url: https://www.youtube.com/watch?v=FYA_7TV_65w
---

<h2>{{page.title}}</h2>

<p>All transcripts not listed below were sourced from <a href="https://drive.google.com/drive/folders/0BzWtYJgwf5A9NU1Vd0pMTG9HcmM">the Rusty Quill's official transcript archive</a>.</p>

<div class="table-of-contents source-index">
  {% for source in page.sources %}
  <h3 class="ep-transcriber">{% if source.url %}
    <a target="_blank" href="{{source.url}}">{{source.name}}</a>:
    {% else %}
    {{source.name}}:
  {% endif %}</h3>

  <ul>
    {% for episode in source.episodes %}
    <li>
      <div class="ep-left"><a class="ep-title" href="episode/{{episode.filename}}">{{episode.title}}</a></div>
      {% if episode.url %}<div class="ep-right"><a class="ep-source" target="_blank" href="{{episode.url}}">Source</a></div>{% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
