{%- if page.episode_number and page.episode_title -%}
	{%- assign page_title = "MAG" | append: page.episode_number | append: ' - ' | append: page.episode_title | append: ' • ' | append: site.title -%}
{%- elsif page.title -%}
	{%- assign page_title = page.title | append: ' • ' | append: site.title -%}
{%- else -%}
	{%- assign page_title = site.title -%}
{%- endif -%}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#943526">
	<meta name="description" content="{{ site.description | escape }}">
	<meta property="og:title" content="{{ page_title | escape }}">

	<title>{{ page_title | escape }}</title>

	<link rel="icon" href="{{ site.baseurl }}/favicon.svg" type="image/svg+xml">
	<link rel="stylesheet" id="libretto-fonts-css"  href="https://fonts.googleapis.com/css?family=Libre+Baskerville%3A400%2C700%2C400italic%7CPlayfair+Display%3A400%2C700%2C400italic%2C700italic%7CPlayfair+Display+SC%3A700%2C700italic%7CMontserrat%3A400%7CDroid+Sans+Mono%3A400&#038;subset=latin%2Clatin-ext" type="text/css" media="all">
	<link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace: 'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
</head>
