<div class="post-meta post-links">
  <a class="acast-link" target="_blank" href="{{ page.acast_url }}">Listen on ACast</a>{% if page.wiki_url %} | <a href="{{page.wiki_url}}">View on Wiki</a>{% endif %}

  {% if page.official or page.unofficial -%}
    {%- if page.official -%}
  <br/>Source: <a class="source-link source-homepage" target="_blank" href="https://drive.google.com/drive/folders/0BzWtYJgwf5A9NU1Vd0pMTG9HcmM">Official Transcript Archive</a>
    {%- elsif page.unofficial_name -%}
  <br/>Source: <a class="source-link source-homepage" target="_blank" {% if page.unofficial %} href="{{ page.unofficial }}"{% endif %}>{{page.unofficial_name}}</a> <span class="unofficial-label">[UNOFFICIAL]</span>
    {%- endif -%}
  {%- endif -%}

  <br/>Formats: <a class="markdown-link" target="_blank" href='https://github.com/Snarp/magnus_archives_transcripts/blob/master/_posts/{{ page.date | date: "%Y-%m-%d" }}-{{page.episode_number}}.md'>Markdown</a> 
  {%- if page.google_doc %} | <a class="source-link source-google-doc" target="_blank" href="{{ page.google_doc }}">Google Doc</a>{%- endif -%}
  {%- if page.pdf %} | <a class="source-link source-pdf" target="_blank" href="{{ page.pdf }}">PDF</a>{%- endif -%}
  {%- if page.accessible_pdf %} | <a class="source-link source-pdf-accessible" target="_blank" href="{{ page.accessible_pdf }}">PDF (Accessible)</a>{%- endif %}
</div>