/**
 * Site header
 */
.site-header {
    background:    $base03;
    border-top:    5px solid $accent-color;
    border-bottom: 1px solid $grey-color-light;
    min-height:    60px;
    text-align:    center;

    // Positioning context for the mobile navigation icon
    position: relative;

    .wrapper {
        padding-top:    0.5rem;
        padding-bottom: 0.5rem;
    }
}

.site-title {
    font-family:   $font-family-monospace;
    font-size:     23px;
    line-height:   37px;
    font-weight:   bold;
    margin-bottom: 0;

    &,&:visited { color: $title-color; }
}

.site-header-linkbar {
    list-style-type:  none;
    display:          flex;
    flex-wrap:        wrap; 
    justify-content:  center;
    margin:           0 auto;
    padding:          0;
    background-color: $highlight-bg-color;
    span { 
        display:      inline-flex; 
        margin:       0 1.0em;
        padding:      0;
        font-family:  $font-family-monospace;
        font-size:    0.8rem;
        font-weight:  bold;
        a { 
            color:   $brand-color; 
            &:hover { color: $accent-color; }
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding:    $spacing-unit 0;
    background: $base03;
    color:      $base0;
    font-size:  0.8rem;
    @include media-query($on-palm) {
        font-size: 0.8rem;
    }
    a { 
        font-weight:     bold; 
        color:           $base1; 
        &:hover { color: $base2; }
    }
}
.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}
.footer-col-wrapper {
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}
.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left:  $spacing-unit / 2;
}
.footer-col-1, 
.footer-col-2  {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}
@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding:   $spacing-unit 0; 
    font-size: $base-font-size; 
    @include media-query($on-palm) {
        font-size: $small-font-size;
    }
}
%page-title {
    font-family:   $font-family-serif; 
    font-size:     1.6rem; 
    color:         $brand-color; 
    a { color: $brand-color; }
    @include media-query($on-palm) {
        font-size: 1.2rem;
    }
}
.page-title { @extend %page-title; }



/**
 * Posts
 */

.post {
    margin: $spacing-unit 0;
}

.post-header {
    text-align:     center;
    color:          $grey-color;
    background:     $highlight-bg-color;
    padding:        $spacing-unit 0;
    margin:         0 0 $spacing-unit;
    @include media-query($on-palm) {
        font-size: $small-font-size;
    }
    .post-nav {}
    .post-subtitle {
        font-family:     $font-family-monospace;
        font-size:       120%; 
        color:           $grey-color; 
        display:         flex;
        justify-content: center;
        margin:          $spacing-unit/2 0 0;
        div { margin: 0 0.2em; }
    }
    .post-title {
        @extend %page-title;
        margin: 0.3rem 0 0;
    }
    .post-meta {
        font-size:  $base-font-size;
        margin:     1.0rem auto;
    }
    .post-date { 
        font-family:  $font-family-monospace;
        margin-top:   0; 
        font-style:   italic; 
        font-size:    smaller;
    }
    .post-links {
        a.acast-link { font-weight: bold; }
        margin: 1.0rem auto 0;
        @include media-query($on-palm) {
            font-size: $small-font-size;
        }
    }
    .post-warnings {
        color: $warning-text-color;
    }
}
.post-footer {
    color:          $grey-color;
    background:     $highlight-bg-color;
    padding:        $spacing-unit 0;
    margin:         $spacing-unit 0 0 0;
}

.post-nav {
    margin:          0;
    display:         flex;
    justify-content: space-between;

    .previous, .next {
        margin: 0;
        width:  50%;
    }
    .previous {
        text-align: left;  margin-right: 0.4rem;
    }
    .next {
        text-align: right; margin-left:  0.4rem;
    }

    @include media-query($on-palm) {
        padding:  initial;

        a:nth-child(even) { 
            margin-bottom: 0.5rem;
        }
        .next, .previous {
            text-align: center;
            width:      100%;
        }
    }
    @include media-query($on-laptop) {
        padding:  initial;

        a:nth-child(even) { 
            margin-bottom: 0.5rem;
        }
        .next, .previous {
            text-align: center;
            width:      100%;
        }
    }
    span {
        color:          $brand-color;
        display:        block;
        font-family:    $font-family-sans-serif;
        font-size:      0.75rem;
        font-style:     normal;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    a {
        font-style: italic;
        color:      $muted-text-color;
        &:hover     { color: darken($muted-text-color, 10%); }
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    h2 {
        font-size: 32px;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }
    h3 {
        font-size: 26px;
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }
    h4 {
        font-size: 20px;
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}



/**
 * Table of Contents
 */
.table-of-contents {
    margin: $spacing-unit 0;
    > .wrapper { padding: 0; }

    ul {
        list-style: none; 
        margin:     0;
        li {
            display:         flex;
            justify-content: space-between;
            flex-wrap:       wrap; 
            font-family:     $font-family-monospace;
            padding:         0.4rem 0.6rem;
            div { display:   inline-block; }
        }
        li:nth-child(odd){ 
            background: $base2;
        }
    }

    .ep-left {
        flex-grow: 2;
    }
    .ep-right, .ep-center {
        text-align: right;
    }
    .ep-number {
        color:        $brand-color; 
    }
    .ep-title {
        color:        $accent-color;
        font-weight:  bold;
        margin-right: 0.4rem;
        &:hover       { color: darken($accent-color, 10%); }
    }

    .ep-status {
        margin-right: 0.4rem;
    }
    .ep-status-incomplete {
        color:        $warning-text-color; 
    }
    .ep-status-unofficial {
        color:        $grey-color-dark; 
    }
    .ep-status-trailer {
        color:        $yellow; 
    }
    .ep-date {
        color:        $green; 
    }
}

.source-index {
    margin: $spacing-unit 0;
    .ep-transcriber { margin:      $spacing-unit 0 $spacing-unit/2; }
    .ep-source      { font-weight: bold; }
    .ep-title { 
        color: $grey-color; 
        &:hover { color: $grey-color; }
    }
    li:nth-child(odd){ .ep-title { 
        color: $grey-color-dark; 
        &:hover { color: $grey-color; } 
    } }
}



/**
 * Error pages
 */
.error {
    text-align: center;
}
