---
layout: default
---

<section class="page-content">
	<div class="wrapper">
    <article class="news-post" itemscope itemtype="http://schema.org/BlogPosting"><div itemprop="articleBody">

    <a href="{{ page.url | prepend: site.baseurl }}"><h1 class="page-title" itemprop="name">{{ page.title }}</h1></a>
    <p><a href="{{ page.url | prepend: site.baseurl }}"><time itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time></a></p>

		<div>{{ content }}</div>

    </div></article>

    {% include news-post-nav.html %}
	</div><!-- /div.wrapper -->
</section>